<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>The Mandelbrot Set</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

	<!-- Load template tags -->
	{% load static %}

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" src="{% static 'blog/js/mathjax/mathjax.min.js' %}"></script>
	<script>MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX"}});</script>
	<script type="module" src="{% static 'mandelbrot.js' %}"></script>
	<link rel="stylesheet" href="{% static 'mandelbrot.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/skeleton.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/paper.min.css' %}">
</head>

<body>
	<div class="container">
		<div class="row">
            <div class="two columns">&nbsp;</div>
			<div class="twelve columns content">
				<p>This is an interactive visualisation of the <a href="https://en.wikipedia.org/wiki/Mandelbrot_set">Mandelbrot set</a>, i.e. the set of all complex numbers \(c\in\mathbb{C}\) such that the sequence \((z_n)\subset\mathbb{C}\) defined by</p>
				<p>\[z_0 = 0,\quad z_{n+1}=z_n^2+c\]</p>
				<p>remains bounded. The image below is derived by iterating each point a fixed number of times and assigning a colour depending on wether the iterates of the point escape to infinity (and how fast) or not.</p>
				<p>This demo is the first in a <a href="https://www.musicofreason.de/search?q=rust">series</a> of mathematically spirited Rust programs compiled to WASM that I&#39;d like to showcase here. You can zoom into the fractal by clicking left on a point (right-click to zoom out) and pan the image with the arrows on the side.</p>
				<p>The source code for this applet, should you be so inclined, can be found <a href="https://github.com/christiankuhl/mandelbrot-wasm">here</a>. Enjoy!</p>
				<p>&nbsp;</p>
				<div id="container">
				<canvas id="mandelbrot-canvas"></canvas>
				<a class="right">&#10095;</a>
				<a class="left">&#10094;</a>
				<a class="up">&#10095;</a>
				<a class="down">&#10094;</a>
				<menu id="controls">
					<a id="reset">Reset</a>
					<a id="save" download="mandelbrot.png">Save</a>
				</menu>
			</div>
			<div class="two columns">&nbsp;</div>
		</div>
	</div>
</body>
