<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>The N Vortex Problem</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

	<!-- Load template tags -->
	{% load staticfiles %}

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" src="{% static 'blog/js/mathjax/mathjax.min.js' %}"></script>
	<script>MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX"}});</script>
	<script type="module" src="{% static 'vortex_dynamics_ui.js' %}"></script>
	<link rel="stylesheet" href="{% static 'vortex_dynamics.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/skeleton.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/paper.min.css' %}">
</head>

<body>
	<div class="container">
		<div class="row">
            <div class="two columns">&nbsp;</div>
			<div class="twelve columns content">
				<p>This is an interactive visualisation of the N-vortex problem of planar hydrodynamics in the unit disk.</p>
				<p>The coloured dots represent vortices in the fluid, whose strengths you can change on the right. You can select one of the examples, 
					drag vortices around, 
					place additional vortices with a double click and delete existing vortices with a right click.
				</p>
				<p> This demo is the second in a <a href="https://www.musicofreason.de/search?q=rust">series of mathematically spirited Rust programs compiled to WASM that I&#39;d like to showcase here.
					The source code for this applet, should you be so inclined, can be found <a href="https://github.com/christiankuhl/vortexdynamics-wasm">here</a>. Enjoy!</p>
				<p>&nbsp;</p>
				<div id="container">
					<div class="contextmenu">
					  <ul class="contextmenu-options">
						<li class="contextmenu-option" id="delete-vortex">Delete vortex</li>
					  </ul>
					</div>
					<canvas id="vortex-canvas" width=400px height=400px></canvas>
					<div class="menu">
					  <form name="example_menu" class="twocolumn">
						<label>Example:
						  <select id="example">
						  </select>
						</label>
					  </form>
					  <menu id="controls">
						<div class="ctrl-column left">
						  <div class="button"></div>
						</div>
						<div id="gamma-controls" class="ctrl-column right"></div>
					  </menu>
					</div>
				  </div>
			<div class="two columns">&nbsp;</div>
		</div>
	</div>
</body>
