body {
  background: #e9e8ed !important;
}

#container {
  height: 655px;
  position: relative;
  left: -35px;
  width: 800px;
  margin: auto;
}

#mandelbrot-canvas {
  width: 800px;
  height: 600px;
  cursor: crosshair;
}

#controls {
  bottom: 0;
  right: 0;
  position: absolute;
  width: auto;
}

#controls > a {
    background-color: whitesmoke;
    border: 1px solid #d8d8d8 #d1d1d1 #bababa;
    border-radius: 3px;
    cursor: pointer;
    color: black;
    padding: 6px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
  }

#controls > a:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19);
}

.left, .right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.up, .down {
  cursor: pointer;
  position: absolute;
  left: 50%;
  width: auto;
  margin-top: -5px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.up {
  top: 0;
  transform: rotate(-90deg);
  border-radius: 0 3px 3px 0;
}

.down {
  bottom: 0;
  margin-bottom: 50px;
  transform: rotate(-90deg);
  border-radius: 0 3px 3px 0;
}

.left:hover, .right:hover, .up:hover, .down:hover, #controls > a:hover {
  background-color: rgba(0,0,0,0.5);
}

#controls > a:hover {
    background-color: rgba(0,0,0,0.1);
}
