{% extends "blog/post_base.html" %}
{% load static %}
{% load current_site %}
{% load social %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block headers %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="{% static 'blog/js/mathjax/mathjax.min.js' %}">
<script>MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX"}});</script>
{% endblock %}

{% block content %}

<!-- Page columnizer -->
	<script src="{% static 'blog/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'blog/js/jquery.columnizer.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script>
		$(function(){
			var content_height;
			var page = 1;
			function buildNewsletter(){
			    var content_lenght = $('#blogContent').contents().length
				if($('#blogContent').contents().length > 0){
				    console.log("$('#blogContent').contents().length = ", content_lenght)
                    if(page == 1){
                        content_height = 650;
					    $page = $(".page_title:first").clone().addClass("texto").css("display", "block");
					}
					else{
					    content_height = 1150;
					    $page = $(".page_template:first").clone().addClass("texto").css("display", "block");
					}
					$("body").append($page);
					page++;
					// here is the columnizer magic
					$('#blogContent').columnize({
						columns: 1,
						target: ".texto:last .content",
						overflow: {
							height: content_height,
							id: "#blogContent",
							doneFunc: function(){
								console.log("done with page",page-1);
								buildNewsletter();
							}
						}
					});
				}
				else{
				    console.log("$('#blogContent').contents().length <= 0");
				    $("body").append($(".container-comments"));
				    $("body").append($(".footer"));
				    console.log("Page building finished");
				}
			}
			buildNewsletter();
		});
	</script>


<!-- Page building -->
<div class="page_title">
    <div class="container">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="twelve columns content"></div>
            <div class="two columns">&nbsp;</div>
        </div>
    </div>
</div>

<div class="page_template">
    <div class="container">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="twelve columns content"></div>
            <div class="two columns">&nbsp;</div>
        </div>
    </div>
</div>

<div id="blogContent" style="display: none">
        {{ flatpage.content }}
</div>

<!-- footer -->
<div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">
        <a href="{% twitter_url %}">Twitter</a> •
        <a href="{% linkedin_url %}">Linkedin</a> •
        {% for aboutp in about_pages %}
          <a href="{% http_or_https %}{% current_site %}{{ aboutp.url }}">About</a>
        {% endfor%}
</div>

{% endblock %}